/* MVisionSlider */
/* -------------------------------------------------------------------------------------------------------------------- */
.MVisionSlider {
  position: relative;
  overflow: hidden; }
  .MVisionSlider__item {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    z-index: 1; }
  .MVisionSlider__item:nth-child(1) {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%); }
  .MVisionSlider__item.active {
    z-index: 2; }
  .MVisionSlider__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    z-index: 3; }
  .MVisionSlider__markers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    z-index: 3; }
  .MVisionSlider__marker {
    cursor: pointer; }
  .MVisionSlider__marker.active {
    pointer-events: none; }
  .MVisionSlider__prev-arrow, .MVisionSlider__next-arrow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    z-index: 3;
    cursor: pointer; }
